// IE < 10
// Don't delete.
.lt-ie10 {
  #site-canvas {
    display: none;
  }
  #nocando {
    margin: 200px auto;
    padding: 32px;
    max-width: 440px;
    background: #fff;
    h1 {
      font-size: 24px;
      line-height: 1.1;
      margin-bottom: 32px;
    }
  }
}

// Scss starts here!
html {
  font-size: $root-font-size;
}

body {
  color: $dark-grey;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  background-color: $background-white;
}

.row {
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  padding: 0 64px;
  display: block;
  width: auto;
}

a {
  cursor: pointer;
  transition: opacity 0.24s ease 0s;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

a:visited {
}

a:hover {
  
}

a:active {
  outline: 0;
}

.header {
  background-color: $ocean-blue;
  border-bottom: 1px solid rgba(255, 255, 255, .06);

  h1 {
    float: left;
    margin-right: 2.5em;
    padding-top: 1em;
    img {
      height: 26px;
      width: 165px;
    }
  }
  nav li {
    padding: 1.3em 0 1em;
    display: inline-block;
    margin-right: 3em;
    font-weight: $base-font-light;
    border-bottom: 1px solid $ocean-blue;
    transition: all 0.3s ease 0s;
    a {
      color: lighten($lightest-grey, 2%);
    }
    &:hover {
      border-bottom: 1px solid #fff;
      a {
        color: #fff;
      }
    }
  }
}

.content__header {
  background-color: $ocean-blue;
  color: #fff;
  padding-top: 7em;
  padding-bottom: 1em;
  h1 {
    display: inline-block;
  }
}

.content__header--lg {
  padding-top: 9em;
}

.sidebar__container {
  background-color: $midnight-blue;
  width: 30%;
  height: 100%;
  content: '.';
}

.sidebar {
  padding-top: 4em;
  width: 20%;
  max-width: 131px;
  float: left;
  background-color: $midnight-blue;
  color: $lighter-grey;
  position: relative;
  a {
    color: lighten($lighter-grey, 8%);
    .active {
      color: #fff;
    }
    &:hover {
      color: #fff;
    }
  }
  li {
    margin-bottom: 1em;
  }
}

.sidebar:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  /* subtract h2 padding (1.5rem) */
  left: -50em;
  background: $midnight-blue;
  height: 100%;
  width: 50em;
}

.sidebar__nav--back {
  padding-bottom: 1.8em;
  margin-bottom: 1em;
  border-bottom: 1px solid rgba(69, 83, 101, .8);
  display: inline-block;
}

.sidebar__row {
  width: 90%;
}

.page__content {
  width: 100%;
  @include clearfix;
}

.page__content--shortened {
  padding: 4em 65px 0;
  float: left;
}

