// IE < 10
// Don't delete.
.lt-ie10 {
  #site-canvas {
    display: none;
  }
  #nocando {
    margin: 200px auto;
    padding: 32px;
    max-width: 440px;
    background: #fff;
    h1 {
      font-size: 24px;
      line-height: 1.1;
      margin-bottom: 32px;
    }
  }
}

// Scss starts here!
html {
  font-size: $root-font-size;
}

body {
  color: $dark-grey;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  background-color: $background-white;
}

.row {
  @extend .clearfix;
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  padding: 0 64px;
  display: block;
  width: auto;
}

.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}


a {
  cursor: pointer;
  transition: opacity 0.24s ease 0s;
  text-decoration: none;
}

a:visited {
}

a:hover {
  
}

a:active {
  outline: 0;
}

.link--secondary {

}

.link--tertiary {
  color: $black;
  border-bottom: 1px solid $lightest-grey;
  &:hover {
    color: lighten($black, 25%);
  }
}

.header {
  padding: 1em 0;
  background-color: $ocean-blue;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  a {
    color: #fff;
  }

  h1 {
    float: left;
    > img {
      width: auto;
      height: 64px;
      max-width: 100%;
      vertical-align: top;
    }
  }
  nav li {
    display: inline-block;
    margin-right: 1em;
  }
}

.content__header {
  background-color: $ocean-blue;
  color: #fff;
  padding-top: 7em;
  padding-bottom: 2em;
}

.sidebar {
  padding-top: 4em;
  float: left;
  background-color: $midnight-blue;
  color: $lighter-grey;
  a {
    color: $lighter-grey;
  }
  li {
    margin-bottom: 1em;
  }
}

.sidebar__row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 65px;
  max-width: 210px;
}

.page__content {
  padding-top: 4em;
}

.page__content--shortened {
  padding: 4em 65px 0;
  float: left;
}

.page__section {
  margin-bottom: 5em;
}
