.button {
  padding: .65em 2em;
  border-radius: 4px;
  background-color: $light-green;
  color: #fff;
  font-weight: $base-font-regular;
  border: none;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;

}

.button--white {
  color: $midnight-blue;
  background-color: #fff;
}

.button--small {
  font-size: .86em;
  padding: .3em 2em .35em;
}

.button--large {
  padding: .7em 2em;
  font-weight: $base-font-bold;
  font-size: 1em;
}

.button--secondary {
  background-color: $dolphin-grey;
}

.button__addcollections {
  float: right;
  margin-top: 1em;
}

.button--disabled {
  opacity: 0.6;
}

.btn-4:before {
  position: absolute;
  background-image: url('/graphics/layout/arrow-right.svg')
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  content: '';
  background-size: 10px 8px;
}

.button__arrow:hover {
  left: 130%;
  top: 0;
}

.button__arrow:before {
  left: 130%;
  top: 0;
}

.button__arrow:hover:before {
  left: 80%;
}
