.button, .button:visited, .subform__item--last .subform__button {
  padding: .65em 2em;
  border-radius: 4px;
  background-color: $light-green;
  color: #fff;
  font-weight: $base-font-regular;
  border: none;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  overflow: hidden;
  input {
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0;
  }
}

.button--green, .button--green:visited, .subform__item--last .subform__button {
  &:hover {
    background-color: darken($light-green, 5%);
    color: #fff;
    border: 0;
  }
}

.button--white, .button--white:visited {
  color: $midnight-blue;
  background-color: #fff;
}

.button--small, .subform__item--last .subform__button {
  font-size: .86em;
  padding: .4em 2em .3em;
}

.button--large {
  padding: .7em 2em;
  font-weight: $base-font-bold;
  font-size: 1em;
}

.button--secondary, .button--secondary:visited {
  background-color: $dolphin-grey;
}

.button__addcollections {
  float: right;
  margin-top: 1em;
}

.button--disabled {
  opacity: 0.6;
  pointer-events: none;
}

.button--loading {
  position: relative;
  display: inline-block;
  .spinner {
    position: absolute;
    top: 6px;
    left: 0;
    width: 100%;
  }
  color: $light-green;
}

.async__element--loading {
  position: relative;
  display: inline-block;
  .spinner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.button__animation {
  position: relative;
  display: inline-block;
  &:before {
    position: absolute;
    background-image: url(#{$graphics}/layout/arrow-right.svg);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    content: '';
    background-size: 15px 10px;
    width: 15px;
    height: 10px;
  }
}

.button__animation:hover {
  padding: .7em 3em .7em 1em;
}

.button__arrow:before {
  left: 130%;
  top: 1.1em;
}

.button__arrow:hover:before {
  left: 85%;
}

.button__animation--md:hover {
  padding: .65em 3em .65em 1em;
}

.button__arrow--md:hover:before {
  left: 75%;
}

.button__arrow--white {
  &:before {
    background-image: url(#{$graphics}/layout/arrow-right-white.svg);
  }
}

.button__cancel {
  &:before {
    background-image: url(#{$graphics}/layout/sm-xmark.svg);
  }
}

.tab--wrapper {
  margin-bottom: 2em;
  border-bottom: 1px solid $lightest-grey;
  .button--active {
    font-weight: $base-font-bold;
    border-bottom: 2px solid $ocean-blue;
    color: $ocean-blue;
    &:hover {
      color: $ocean-blue;
    }
  }
}

.button--tab {
  border: none;
  background: none;
  padding-bottom: .5em;
  margin-right: 1em;
  color: $grey;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  &:hover {
    color: $dark-grey;
  }
}

.dropdown__options {
  margin-top: 1em;
  position: relative;
}

.dropdown__options__btn {
  position: relative;
  &:before {
    position: absolute;
    content: '';
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url(#{$graphics}/layout/cog.svg);
    left: 1.4em;
  }
  span {
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
  }
}

.dropdown__menu {
  position: absolute;
  background-color: #fff;
  right: 0;
  z-index: 5;
  margin-top: 1em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, .1);
  padding: .5em 0;
  min-width: 11em;
  li {
    display: block;
    padding: .8em 1.5em;
    border-bottom: 1px solid darken($background-white, 2%);
    a {
      display: block;
      color: $dark-grey;
      &:hover {
        color: $ocean-blue;
      }
      &.async__element--loading {
        color: $lightest-grey;
      }
      &.async__element--disabled {
        color: $light-grey;
        cursor: default;
      }
    }
    &:last-of-type {
      border-bottom: 0;
    }
  }
}

.subform__item--last {
  .subform__button {
    display: inline-block;
    margin-top: 1.5em;
    margin-left: 0;
  }
  .subform__name {
    display: none;
  }
}
