.chart__box {
  display: inline-block;
  width: 50%;
  text-align: center;
}

.chart__container {
  height: 400px;
}

.chart__bar {
  fill: $midnight-blue;
}

.axis__tick,
.axis__line {
  stroke: $light-grey;
}

.axis__text {
  font-size: 10px;
  fill: $light-grey;
}

.tooltip {
  margin-left: 1em;
  margin-top: 1em;
  position: fixed;
  pointer-events: none;
  transition: all 0.1s;
  z-index: 99;
}

.tooltip__inner {
  padding: 1em;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  background: #FFF;
  max-width: 240px;
}
