.chart__container {
  height: 400px;
  width: 50%;
}

.chart__bar {
  fill: $midnight-blue;
}

.axis__tick,
.axis__line {
  stroke: $light-grey;
}

.axis__text {
  font-size: 10px;
  fill: $light-grey;
}
