input, textarea, select, .form__element__select {
  border: 1px solid $lightest-grey;
  background-color: #fff;
  border-radius: .5em;
  padding: .3em 2em .4em .7em;
}

label {
  display: block;
  font-weight: $base-font-semibold;
  margin-bottom: .3em;
}

.form__multistep {
  input[type='password'], input[type='text'], textarea {
    margin-bottom: 2em;
    width: 95.5%;
    padding: 0.3em;
  }
}

.dropdown__wrapper {
  display: inline-block;
  border: 1px solid $lightest-grey;
  border-radius: .5em;
  position: relative;
  &:after {
    background-image: url(#{$graphics}/layout/chevron-down.svg);
    content: '';
    width: 10px;
    height: 10px;
    background-size: 10px 10px;
    display: block;
    position: absolute;
    right: 1em;
    top: .7em;
  }
}

select {
  -webkit-appearance: caret;
}

.filters {
  margin: -.8em 0 3em;
  @include clearfix;
  label {
    font-size: .86em;
  }
}

.filters__wlabels {
  margin: -1em 0 3.2em;
}

.form--controls {
  margin-bottom: 1em;
}

.search__wrapper {
  position: relative;
}

.search__icon {
  &:after {
    position: absolute;
    background-image: url(#{$graphics}/layout/magnifier-left.svg);
    content: '';
    width: 14px;
    height: 14px;
    background-size: 14px 14px;
    display: block;
    right: 1em;
    top: .7em;
  }
}

.search__loading {
  .spinner {
    position: absolute;
    right: 10px;
    top: 6px;
    > div {
      width: 8px;
      height: 8px;
      background-color: $black;
    }
  }
}

.search__results {
  background-color: #FFF;
  border: 1px solid $lightest-grey;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
  border-radius: .2em;
  position: absolute;
  top: 36px;
  z-index: 100;
  max-height: 18em;
  overflow-y: scroll;

  a, a:visited {
    padding: .7em 1.8em .7em 1.2em;
    color: $black;
    border-bottom: 1px solid $lightest-grey;
    display: block;
    &:hover {
      background-color: darken($background-white, 2%);
    }
  }
}

.form-group__element {
  float: left;
  margin-right: 1em;
}

.form-group__element--small {
  font-size: .86em;
}

.form__element__select {
  font-weight: $base-font-regular;
  padding: .3em .9em;
  input {
    margin-right: .8em;
  }
}

.form-group__element--right {
  float: right;
  margin-left: 1em;
}

.form-group__element--right--sm {
  margin-top: 0;
}

.form-group__element--left {
  margin-right: 1em;
  margin-top: 2em;
  margin-left: 1em;
}

.ace_editor {
  margin-bottom: 2em;
  border: 1px solid $lightest-grey;
  border-radius: .5em;
}

.ace-github .ace_gutter {
  padding-top: .5em;
}

.ace_content {
  padding-top: .5em;
}
