.heading--xlarge {
  font-size: 3.2em;
  font-weight: $base-font-bold;
}

.heading--large {
  font-size: 2.3em;
  font-weight: $base-font-regular;
}

.heading--medium {
  font-size: 1.6em;
  font-weight: $base-font-regular;
}