<div class="page__component">
  <section class="page__section page__section__controls">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Dashboard Home</a></li>
        <li class="breadcrumb-item"><a href="/executions">Executions</a></li>
        <li class="breadcrumb-item active"><span>Execution Events</span></li>
      </ol>
    </nav>
  </section>
  <section class="page__section page__section__header-wrapper">
    <h1
      class="heading--large heading--shared-content with-description width--three-quarters"
    >
      Events for Execution d9f3e2ec
    </h1>
  </section>
  <section class="page__section">
    <div class="heading__wrapper--border">
      <h2 class="heading--medium with-description">Details About The Events</h2>
    </div>
  </section>
  <section class="page__section">
    <div class="heading__wrapper--top-border">
      <p>
        To find all task name and versions, select “More Details” for the last
        Lambda- or Activity-type event. There you should find a key / value pair
        “workflow_tasks” which lists all tasks’ version, name and arn.
      </p>
      <br />
      <p>
        <b>NOTE:</b> Task / version tracking is enabled as of Cumulus version
        1.9.1.
      </p>
      <br />
      <p>
        <b>NOTE:</b> If the task output is greater than 10KB, the full message
        will be stored in an S3 Bucket. In these scenarios, task and version
        numbers are not part of the Lambda or Activity event output.
      </p>
      <br /><svg
        aria-hidden="true"
        focusable="false"
        data-prefix="fas"
        data-icon="external-link-square-alt"
        class="svg-inline--fa fa-external-link-square-alt fa-w-14"
        role="img"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 448 512"
      >
        <path
          fill="currentColor"
          d="M448 80v352c0 26.51-21.49 48-48 48H48c-26.51 0-48-21.49-48-48V80c0-26.51 21.49-48 48-48h352c26.51 0 48 21.49 48 48zm-88 16H248.029c-21.313 0-32.08 25.861-16.971 40.971l31.984 31.987L67.515 364.485c-4.686 4.686-4.686 12.284 0 16.971l31.029 31.029c4.687 4.686 12.285 4.686 16.971 0l195.526-195.526 31.988 31.991C358.058 263.977 384 253.425 384 231.979V120c0-13.255-10.745-24-24-24z"
        ></path></svg
      ><i>Related workflow will open up into another window to view.</i>
    </div>
    <div class="heading__wrapper--border">
      <h2 class="heading--medium heading--shared-content">
        All Events<span class="num-title">9</span>
      </h2>
      <a
        class="csv__download button button--small button--green form-group__element--right"
        href="/workflows"
        target="_blank"
        ><svg
          aria-hidden="true"
          focusable="false"
          data-prefix="fas"
          data-icon="external-link-square-alt"
          class="svg-inline--fa fa-external-link-square-alt fa-w-14"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 448 512"
        >
          <path
            fill="currentColor"
            d="M448 80v352c0 26.51-21.49 48-48 48H48c-26.51 0-48-21.49-48-48V80c0-26.51 21.49-48 48-48h352c26.51 0 48 21.49 48 48zm-88 16H248.029c-21.313 0-32.08 25.861-16.971 40.971l31.984 31.987L67.515 364.485c-4.686 4.686-4.686 12.284 0 16.971l31.029 31.029c4.687 4.686 12.285 4.686 16.971 0l195.526-195.526 31.988 31.991C358.058 263.977 384 253.425 384 231.979V120c0-13.255-10.745-24-24-24z"
          ></path>
        </svg>
        View Workflows</a
      >
    </div>
    <div class="list__filters">
      <div class="search__box">
        <label for="search" form="form-Search-search">Search</label>
        <form class="search__wrapper form-group__element">
          <div
            class="rbt"
            style="outline: none; position: relative"
            tabindex="-1"
          >
            <input
              autocomplete="off"
              placeholder="Search Type"
              type="text"
              id="search"
              aria-autocomplete="both"
              aria-expanded="false"
              aria-haspopup="listbox"
              class="rbt-input-main search"
              role="combobox"
              value=""
            /><span class="search__icon"></span>
          </div>
        </form>
      </div>
    </div>
    <div class="table--wrapper">
      <div class="list__filters">
        <div class="table__filters form-group__element">
          <div class="label">Columns Filter</div>
          <button
            aria-expanded="false"
            aria-controls="table__filters--collapse"
            class="button button--small button__filter"
          >
            Show/Hide Columns
          </button>
          <div class="table__filters--collapse collapse">
            <div class="table__filters--wrapper">
              <div class="table__filters--header">
                <div class="table__filters--header-title">
                  <div class="table__filters--header-title-text">
                    Columns Filter
                  </div>
                  <div
                    role="button"
                    tabindex="0"
                    class="table__filters--header-title-close"
                  ></div>
                </div>
                <div class="table__filters--header-subtitle">
                  Select which columns you would like to show or hide in your
                  table results.
                </div>
              </div>
              <div class="table__filters--checkboxes">
                <div class="table__filters--filter">
                  <label for="chk_id" class="checkmark--wrapper"
                    >Event ID<input
                      id="chk_id"
                      type="checkbox"
                      checked="" /><span class="checkmark"></span
                  ></label>
                </div>
                <div class="table__filters--filter">
                  <label for="chk_name" class="checkmark--wrapper"
                    >Step Name<input
                      id="chk_name"
                      type="checkbox"
                      checked="" /><span class="checkmark"></span
                  ></label>
                </div>
                <div class="table__filters--filter">
                  <label for="chk_timestamp" class="checkmark--wrapper"
                    >Timestamp<input
                      id="chk_timestamp"
                      type="checkbox"
                      checked="" /><span class="checkmark"></span
                  ></label>
                </div>
              </div>
              <div class="table__filters--footer">
                <div><div class="caption">* Sets back to default</div></div>
                <div>
                  <button class="button button--small button__reset-filter">
                    Reset <span class="caption">*</span></button
                  ><button class="button button--small button__apply-filter">
                    Apply
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table" role="table" style="min-width: 150px">
        <div class="thead">
          <div class="tr">
            <div
              role="row"
              style="display: flex; flex: 1 0 auto; min-width: 150px"
              class="tr"
            >
              <div
                colspan="1"
                role="columnheader"
                class="th"
                style="
                  box-sizing: border-box;
                  flex: 50 0 auto;
                  min-width: 50px;
                  width: 50px;
                  position: relative;
                "
              >
                <span
                  title="Toggle SortBy"
                  style="cursor: pointer"
                  class="table__sort"
                  >Event ID</span
                >
                <div
                  draggable="false"
                  style="cursor: col-resize"
                  role="separator"
                  title="Double click to expand"
                  class="resizer"
                ></div>
              </div>
              <div
                colspan="1"
                role="columnheader"
                class="th"
                style="
                  box-sizing: border-box;
                  flex: 125 0 auto;
                  min-width: 50px;
                  width: 125px;
                  position: relative;
                "
              >
                <span
                  title="Toggle SortBy"
                  style="cursor: pointer"
                  class="table__sort"
                  >Step Name</span
                >
                <div
                  draggable="false"
                  style="cursor: col-resize"
                  role="separator"
                  title="Double click to expand"
                  class="resizer"
                ></div>
              </div>
              <div
                colspan="1"
                role="columnheader"
                class="th"
                style="
                  box-sizing: border-box;
                  flex: 125 0 auto;
                  min-width: 50px;
                  width: 125px;
                  position: relative;
                "
              >
                <span
                  title="Toggle SortBy"
                  style="cursor: pointer"
                  class="table__sort"
                  >Timestamp</span
                >
                <div
                  draggable="false"
                  style="cursor: col-resize"
                  role="separator"
                  title="Double click to expand"
                  class="resizer"
                ></div>
              </div>
            </div>
          </div>
        </div>
        <div class="tbody">
          <div
            class="tr"
            data-value="0"
            role="row"
            style="display: flex; flex: 1 0 auto; min-width: 150px"
          >
            <div
              class="td table__main-asset"
              role="cell"
              style="
                box-sizing: border-box;
                flex: 50 0 auto;
                min-width: 50px;
                width: 50px;
              "
            >
              N/A
            </div>
            <div
              class="td"
              role="cell"
              style="
                box-sizing: border-box;
                flex: 125 0 auto;
                min-width: 50px;
                width: 125px;
              "
            >
              <span class="link link--pad-right" role="button" tabindex="0"
                >N/A</span
              ><i class="far fa-check-circle status-icon--success"></i>
            </div>
            <div
              class="td"
              role="cell"
              style="
                box-sizing: border-box;
                flex: 125 0 auto;
                min-width: 50px;
                width: 125px;
              "
            >
              --
            </div>
          </div>
          <div
            class="tr"
            data-value="1"
            role="row"
            style="display: flex; flex: 1 0 auto; min-width: 150px"
          >
            <div
              class="td table__main-asset"
              role="cell"
              style="
                box-sizing: border-box;
                flex: 50 0 auto;
                min-width: 50px;
                width: 50px;
              "
            >
              <span class="num-title--round">1</span>
            </div>
            <div
              class="td"
              role="cell"
              style="
                box-sizing: border-box;
                flex: 125 0 auto;
                min-width: 50px;
                width: 125px;
              "
            >
              <span class="link link--pad-right" role="button" tabindex="0"
                >SyncGranule</span
              ><i class="far fa-check-circle status-icon--success"></i>
            </div>
            <div
              class="td"
              role="cell"
              style="
                box-sizing: border-box;
                flex: 125 0 auto;
                min-width: 50px;
                width: 125px;
              "
            >
              --
            </div>
          </div>
          <div
            class="tr"
            data-value="2"
            role="row"
            style="display: flex; flex: 1 0 auto; min-width: 150px"
          >
            <div
              class="td table__main-asset"
              role="cell"
              style="
                box-sizing: border-box;
                flex: 50 0 auto;
                min-width: 50px;
                width: 50px;
              "
            >
              <span class="num-title--round">2</span>
            </div>
            <div
              class="td"
              role="cell"
              style="
                box-sizing: border-box;
                flex: 125 0 auto;
                min-width: 50px;
                width: 125px;
              "
            >
              <span class="link link--pad-right" role="button" tabindex="0"
                >SyncGranule</span
              ><i class="far fa-check-circle status-icon--s uccess"></i>
            </div>
            <div
              class="td"
              role="cell"
              style="
                box-sizing: border-box;
                flex: 125 0 auto;
                min-width: 50px;
                width: 125px;
              "
            >
              --
            </div>
          </div>
          <div
            class="tr"
            data-value="3"
            role="row"
            style="display: flex; flex: 1 0 auto; min-width: 150px"
          >
            <div
              class="td table__main-asset"
              role="cell"
              style="
                box-sizing: border-box;
                flex: 50 0 auto;
                min-width: 50px;
                width: 50px;
              "
            >
              <span class="num-title--round">3</span>
            </div>
            <div
              class="td"
              role="cell"
              style="
                box-sizing: border-box;
                flex: 125 0 auto;
                min-width: 50px;
                width: 125px;
              "
            >
              <span class="link link--pad-right" role="button" tabindex="0"
                >SyncGranule</span
              ><i class="far fa-check-circle status-icon--success"></i>
            </div>
            <div
              class="td"
              role="cell"
              style="
                box-sizing: border-box;
                flex: 125 0 auto;
                min-width: 50px;
                width: 125px;
              "
            >
              --
            </div>
          </div>
          <div
            class="tr"
            data-value="4"
            role="row"
            style="display: flex; flex: 1 0 auto; min-width: 150px"
          >
            <div
              class="td table__main-asset"
              role="cell"
              style="
                box-sizing: border-box;
                flex: 50 0 auto;
                min-width: 50px;
                width: 50px;
              "
            >
              <span class="num-title--round">4</span>
            </div>
            <div
              class="td"
              role="cell"
              style="
                box-sizing: border-box;
                flex: 125 0 auto;
                min-width: 50px;
                width: 125px;
              "
            >
              <span class="link link--pad-right" role="button" tabindex="0"
                >SyncGranule</span
              ><i class="far fa-check-circle status-icon--success"></i>
            </div>
            <div
              class="td"
              role="cell"
              style="
                box-sizing: border-box;
                flex: 125 0 auto;
                min-width: 50px;
                width: 125px;
              "
            >
              --
            </div>
          </div>
          <div
            class="tr"
            data-value="5"
            role="row"
            style="display: flex; flex: 1 0 auto; min-width: 150px"
          >
            <div
              class="td table__main-asset"
              role="cell"
              style="
                box-sizing: border-box;
                flex: 50 0 auto;
                min-width: 50px;
                width: 50px;
              "
            >
              <span class="num-title--round">5</span>
            </div>
            <div
              class="td"
              role="cell"
              style="
                box-sizing: border-box;
                flex: 125 0 auto;
                min-width: 50px;
                width: 125px;
              "
            >
              <span class="link link--pad-right" role="button" tabindex="0"
                >SyncGranule</span
              ><i class="far fa-check-circle status-icon--success"></i>
            </div>
            <div
              class="td"
              role="cell"
              style="
                box-sizing: border-box;
                flex: 125 0 auto;
                min-width: 50px;
                width: 125px;
              "
            >
              --
            </div>
          </div>
          <div
            class="tr"
            data-value="6"
            role="row"
            style="display: flex; flex: 1 0 auto; min-width: 150px"
          >
            <div
              class="td table__main-asset"
              role="cell"
              style="
                box-sizing: border-box;
                flex: 50 0 auto;
                min-width: 50px;
                width: 50px;
              "
            >
              <span class="num-title--round">6</span>
            </div>
            <div
              class="td"
              role="cell"
              style="
                box-sizing: border-box;
                flex: 125 0 auto;
                min-width: 50px;
                width: 125px;
              "
            >
              <span class="link link--pad-right" role="button" tabindex="0"
                >ChooseProcess</span
              ><i class="far fa-check-circle status-icon--success"></i>
            </div>
            <div
              class="td"
              role="cell"
              style="
                box-sizing: border-box;
                flex: 125 0 auto;
                min-width: 50px;
                width: 125px;
              "
            >
              --
            </div>
          </div>
          <div
            class="tr"
            data-value="7"
            role="row"
            style="display: flex; flex: 1 0 auto; min-width: 150px"
          >
            <div
              class="td table__main-asset"
              role="cell"
              style="
                box-sizing: border-box;
                flex: 50 0 auto;
                min-width: 50px;
                width: 50px;
              "
            >
              <span class="num-title--round">7</span>
            </div>
            <div
              class="td"
              role="cell"
              style="
                box-sizing: border-box;
                flex: 125 0 auto;
                min-width: 50px;
                width: 125px;
              "
            >
              <span class="link link--pad-right" role="button" tabindex="0"
                >ChooseProcess</span
              ><i class="far fa-check-circle status-icon--success"></i>
            </div>
            <div
              class="td"
              role="cell"
              style="
                box-sizing: border-box;
                flex: 125 0 auto;
                min-width: 50px;
                width: 125px;
              "
            >
              --
            </div>
          </div>
          <div
            class="tr"
            data-value="8"
            role="row"
            style="display: flex; flex: 1 0 auto; min-width: 150px"
          >
            <div
              class="td table__main-asset"
              role="cell"
              style="
                box-sizing: border-box;
                flex: 50 0 auto;
                min-width: 50px;
                width: 50px;
              "
            >
              <span class="num-title--round">8</span>
            </div>
            <div
              class="td"
              role="cell"
              style="
                box-sizing: border-box;
                flex: 125 0 auto;
                min-width: 50px;
                width: 125px;
              "
            >
              <span class="link link--pad-right" role="button" tabindex="0"
                >N/A</span
              ><i class="far fa-check-circle status-icon--success"></i>
            </div>
            <div
              class="td"
              role="cell"
              style="
                box-sizing: border-box;
                flex: 125 0 auto;
                min-width: 50px;
                width: 125px;
              "
            >
              --
            </div>
          </div>
        </div>
      </div>
      <div
        role="button"
        tabindex="0"
        class="scrollButton scrollButtonLeft"
        style="opacity: 0; display: none"
      >
        <div><i class="fa fa-arrow-circle-left fa-2x"></i></div>
        <div>SCROLL</div>
      </div>
      <div
        role="button"
        tabindex="0"
        class="scrollButton scrollButtonRight"
        style="opacity: 0; display: none"
      >
        <div><i class="fa fa-arrow-circle-right fa-2x"></i></div>
        <div>SCROLL</div>
      </div>
    </div>
  </section>
</div>
