node_modules
.tmp
**/npm-debug.log
.DS_Store
*.swp
dist
app/scripts/config/local.js
gulp-cache
/artifacts
/tmp/
/docker/html/
package-lock.json
test/fake-api/db/*.json
cypress/screenshots
cypress/videos
.vscode
.idea/
yarn-error.log
