*.log
*.swp
.DS_Store
.envrc
.idea/
.tmp/
.vscode/
app/src/js/config/local.js
artifacts/
cypress/screenshots/
cypress/videos/
dist/
docker/html/
gulp-cache/
node_modules/
test/fake-api/db/*.json
tmp/
yarn.lock
