.processing-modal h2{
  color: $ocean-blue;
}

/*.processing-bar{
  background-color: $ocean-blue;
  border: $lightest-grey;
  width: 50%;
  height: 3em;
}*/ /* No need for a processing bar at this time */

.processing-modal p{
  color: $dark-grey;
  text-align: center;
}