/**********************************************************************
  This stylesheet is the core and general styles for the application. 
**********************************************************************/

/******** If Browser IE < 10 - Don't delete. *****/

.lt-ie10 {
  #site-canvas {
    display: none;
  }
  #nocando {
    margin: 200px auto;
    padding: 32px;
    max-width: 440px;
    background: #fff;
    h1 {
      font-size: 24px;
      line-height: 1.1;
      margin-bottom: 32px;
    }
  }
}

/**************************************************/

/**************************************************
  General
**************************************************/

html {
  font-size: $root-font-size;
  height: 100%;
}

body {
  color: $dark-grey;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  background-color: $background-white;
  height: 100%;
}

.clearfix{
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.row {
  @extend .clearfix;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  padding: 0 48px;
  display: block;
  width: auto;
}

a, a:visited {
  cursor: pointer;
  transition: opacity 0.24s ease 0s;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  color: $ocean-blue;
  border-bottom: 1px solid rgba(34, 118, 172, .2);
}

.csv__download {
  float: right;
}

a:hover {
  border-bottom: 1px solid rgba(34, 118, 172, 1);
  color: darken($ocean-blue, 10%);
}

a:active {
  outline: 0;
}

.link--no-underline {
  border-bottom: 0;
}

.link--secondary, .link--secondary:visited {
  color: $ocean-blue;
  font-size: .88em;
  font-weight: $base-font-regular;
  border-bottom: 1px solid $ocean-blue;
  /*padding-bottom: .3em;*/
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  &:hover {
    color: $light-green;
    border-bottom: 1px solid $light-green;
  }
}

.link--tertiary {
  color: $black;
  border-bottom: 1px solid $lightest-grey;
  &:hover {
    color: lighten($black, 25%);
  }
}

.link--learn-more {
  margin-top: 1em;
  display: inline-block;
  float: right;
}

.description {
  color: $lighter-grey;
  width: 80%;
  margin-bottom: 3em;
  font-size: .86em;
  line-height: 1.6em;
}

.async__element--loading {
  position: relative;
  display: inline-block;
  .spinner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.tab--wrapper {
  margin-bottom: 2em;
  border-bottom: 1px solid $lightest-grey;
  .button--active {
    font-weight: $base-font-bold;
    border-bottom: 2px solid $ocean-blue;
    color: $ocean-blue;
    &:hover {
      color: $ocean-blue;
    }
  }
}

.icon::before, .icon::after {
  display: none;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

/**************************************************
  Header & Navigation (Includes Sidebar)
**************************************************/

.header {
  background-color: $ocean-blue;
  border-bottom: 1px solid rgba(255, 255, 255, .06);

  h1 {
    float: left;
    margin-right: 2.5em;
    padding-top: 1.3em;
    img {
      height: 26px;
      width: 165px;
    }
  }
  nav{
    height: 4.688em;
  }
  nav ul {
    display: flex;
    height: 47px;
  }
  nav li {
    padding: 1.5em 0 1.2em;
    display: inline-block;
    margin-right: 2.5em;
    font-weight: $base-font-light;
    border-bottom: 1px solid $ocean-blue;
    transition: all 0.3s ease 0s;
    a {
      color: lighten($lightest-grey, 2%);
    }
    &.active,
    &:hover {
      border-bottom: 1px solid $white;
      a {
        color: $white;
      }
    }
    &.rightalign {
      margin-left: auto;
      margin-right: 0;
    }
  }
}

.nav__order-0 { order: 0 };
.nav__order-1 { order: 1 };
.nav__order-2 { order: 2 };
.nav__order-3 { order: 3 };
.nav__order-4 { order: 4 };
.nav__order-5 { order: 5 };
.nav__order-6 { order: 6 };
.nav__order-7 { order: 7 };
.nav__order-8 { order: 8 };

.svg{
  width: 100%;
  height: 100%;
  padding-right: 0px;
  padding-left: 0px;
}

/* general styling shared between versions */
.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.rightalign.nav__order-8{
  position: relative;
}
.rightalign.nav__order-8 .log-icon{
  &:before {
    position: absolute;
    color: $white;
    font-family: 'FontAwesome';
    content: '\f2f5';
    font-weight: 900;
    right: 3.9em;
    top: 1.54em;
  }
}

.content__header {
  background-color: $ocean-blue;
  color: $white;
  padding-top: 2em;
  padding-bottom: 2em;
  box-shadow: $shadow__header;

  h1 {
    margin-bottom: .3em;
  }
}

.content__header--lg {
  padding-top: 3em;
}

.heading-form-group--left {
  display: flex;
  flex-direction: row;

  li {
    &:not(:first-child) {
      margin-right: 2em;
    }

    h1 {
      margin-right: 5em;
    }

    a.button {
      display: flex;
    }
  }
}

//Sidebar//

.wrapper__sidebar{
  /*position: relative;*/
  flex-direction: row;
  display: flex;
  width: 100%;
}

.sidebar {
  flex: 2;
  padding: 0;
  /* width: 20%; */
  max-width: 225px;
  min-width: 175px;
  /* float: left; */
  min-height: 100vh;
  background-color: $sub-blue;
  color: #E7E4E4;
  /* position: absolute; */
  margin: 0;
  a {
    color: #E7E4E4;
    border-bottom: none;
    .active {
      color: $white;
      border-bottom: 1px solid #E7E4E4;
    }
    &:hover {
      color: $white;
    }
  }
  .sidebar__nav--back {
    padding-bottom: 1.8em;
    margin-bottom: 1em;
    border-bottom: 1px solid rgba(69, 83, 101, .8);
    display: inline-block;
  }
  .sidebar__nav--selected {
    color: #E7E4E4;
    font-weight: $base-font-semibold;
    letter-spacing: .2px;
    border-bottom: 2px solid #E7E4E4;
  }
  li {
    margin-bottom: 0.75em;
  }
  li:first-child{
    line-height: 3em;
    font-size: 1.25em;
    font-weight: 400;
  }
  li:nth-child(n+2){
    line-height: 2em;
    font-weight: 400;
  }
}

.sidebar:before {
  content: "";
  /*position: absolute;*/
  top: 0;
  bottom: 0;
  /* subtract h2 padding (1.5rem) */
  /*left: -50em;*/
  background: $sub-blue;
  height: 100%;
  /*width: 50em;*/
}

.sidebar__row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: $dark-blue;
  padding: 1em 0 1.5em 0;
}

.sidebar__header {
  margin-top: 2em;
  margin-bottom: 1em;
}

.page__content__nosidebar {
  margin-top: 2em;
  flex-direction: column;
}

.page__content {
  width: 100%;
  @extend .clearfix;
}

.page__content--shortened {
  flex: 10;
  padding: 2em 4em 2em 4em;
  /*float: left;*/
  width: 80%;
}

.page__content--shortened--centered {
  width: 70%;
  margin: 0 auto;
  padding-top: 4em;
}

.page__section {
  @extend .clearfix;
  &:last-of-type {
  margin-bottom: 3em; 
  }
}

.page_section__overview {
  margin-top: 25px;
}

.page__section.datetime{
  margin-bottom: 8em;
}

.collection__options--top ul{
  display: flex;
  align-items: center;
}

.collection__options--top li:nth-child(2){
  margin-left: auto;
}

.page__section__controls{
  margin-bottom: 2em;
}

.page__section--small {
  margin-bottom: 2em;
}

.page__section--top{
  /*margin-bottom: 25px;*/
  padding: 25px 0 25px 0;
  /*border-top: 1px solid #E2DFDF;*/
  background-color: #1E6B9D;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
}

.top{
  display: flex;
  justify-content: center;
  align-content: center;
}

.top span{
  font-weight: 700;
}
.page__section.update--granules{
  margin-bottom: 2em;
}

.metadata__updated, .label__description {
  font-size: .79em;
  font-style: italic;
  color: lighten($lighter-grey, 10%);
  dt, dd {
    display: inline;
    padding-right: .5em;
  }
  .metadata__updated__time {
    margin-left: .5em;
    padding-left: 1em;
    border-left: 1px solid lighten($lighter-grey, 20%);
  }
}

/**************************************************
  Progress Bar
**************************************************/

.progress-bar {
  height: 5px;
  position: relative;
  background: $lightest-grey;
  top: .3em;
  width: 98.8%;
}

.page__section__granule--progress {
  position: relative;
  margin: 2em 0 6em;
  ol {
    position: absolute;
    top: 0;
    width: 98.8%;
  }

  li {
    display: inline-block;
    font-size: .86em;
    color: lighten($lighter-grey, 8%);
    text-align: center;
    width: 24%;
    position: relative;
    top: 1.2em;
    &:before {
      content: '';
      height: 14px;
      width: 1px;
      background-color: lighten($lighter-grey, 30%);
      background-size: 14px 1px;
      display: block;
      margin-bottom: 2px;
      position: absolute;
      right: 50%;
      top: -1.45em;
    }

    &:first-child {
      text-align: left;
      width: 14%;
      &:before {
        background-color: lighten($lighter-grey, 6%);
        left: 0;
        right: 0;
      }
    }
    &:last-child {
      text-align: right;
      width: 14%;
      &:before {
        background-color: lighten($lighter-grey, 6%);
        right: 0;
      }
    }
  }

  .progress-bar__active {
    font-weight: $base-font-semibold;
    color: $dark-grey;
  }
}

.progress-bar__progress {
  height: 5px;
  left: 0;
  position: absolute;
  transition: width 0.2s ease-in-out;
  background-color: $light-green;
  z-index: 5;
}
.progress-bar__progress--ingesting { width: 0; }
.progress-bar__progress--processing { width: 26%;  }
.progress-bar__progress--cmr { width: 50%; }
.progress-bar__progress--archiving { width: 74%; }
.progress-bar__progress--completed { width: 100%; }

.progress-bar__indicator {
  position: absolute;
  top: -8px;
  transition: left 0.2s ease-in-out, right 0.2s ease-in-out;
}

.progress-bar__indicator--ingesting { left: 0; }
.progress-bar__indicator--processing { left: 25%;  }
.progress-bar__indicator--cmr { left: 49%; }
.progress-bar__indicator--archiving { left: 73%; }
.progress-bar__indicator--completed { right: 20px; }
.progress-bar__indicator--failed {
  right: 20px;
  .pulse__dot {
    border: 5px solid lighten($error-red, 10%);
    background-color: $error-red;
  }
  .pulse__ring {
    border: 11px solid $error-red;
  }
}

.meter > span {
  display: block;
  height: 100%;
  background-color: $light-green;
  position: relative;
  overflow: hidden;
}

.logs {
  font-family: $code-font-family;
  font-size: $code-font-size;
  line-height: $code-line-height;
  background-color: darken($background-white, 3%);
  padding: 1.5em 1.5em 1em;
  color: $dark-grey;
  height: 25em;
  overflow-y: scroll;
}

.granule-recipes {
  ol {
    list-style-type: decimal;
    margin: 0 0 1em 1em;
  }

  .recipe {
    margin-bottom: 1em;
  }
}

/**************************************************
  Table
**************************************************/
.list-view {
  dt {
    font-weight: $base-font-bold;
    margin-bottom: .2em;
  }
  dd, p {
    margin-bottom: 1em;
    color: $grey;
  }
}

.status--process {
  margin-top: 1.5em;
  dd, dt {
    display: inline-block;
    font-size: .9em;
  }
  dd {
    font-weight: $base-font-semibold;
    margin-bottom: 10px;
  }
  dt {
    color: $grey;
    margin-right: 0.5em;
  }
  .running,
  .enabled {
    &:before {
      background-color: $yellow;
    }
  }
  .completed {
    &:before {
      background-color: $light-green;
    }
  }
  .stopped {
    &:before {
      background-color: $orange;
    }
  }
  .failed,
  .disabled {
    &:before {
      background-color: $error-red;
    }
  }
}

.app__target--container {
  background-color: darken($ocean-blue, 10%);
  border-bottom: 1px solid darken($ocean-blue, 13%);
  padding: 0.4em 0 .3em;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: .86em;
}

.app__target {
  color: #FFF;
  margin: 0;
}

.width--three-quarters {
  width: 85%;
}

.width--half {
  width: 40%;
}

.error__report, .report__table {
  .Collapsible {
    display: flex;
    flex-direction: column;

    .Collapsible__trigger {
      order: 1;
    }
  }
}

.report__table {
  .Collapsible__trigger {
    align-self: flex-start;
    cursor: pointer;
    margin: 1em 0;
  }
}

/**************************************************
  Footer
**************************************************/

.footer{
  border-top: 1px solid #E2DFDF;
  background-color: $ocean-blue;
  padding-top: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.06);
}

.api__summary {
  text-align: center;
}

.api__version{
  font-weight: 400;
  color: $white;
  padding: 10px 0 2px 0;
}

.api__warning {
  /*color: $error-red;*/
  color: $white;
  font-weight: 500;
  position: relative;
  border-bottom: 1px solid #175075;
  padding: 0.4em 0 1em;
  margin: 0;
}

.api__warning .warning-icon{
    position: relative;
    
  &:before {
    position: absolute;
    /*color: $error-red;*/
    color: $white;
    font-family: 'FontAwesome';
    content: '\f071';
    font-weight: 900;
    left: -1.5em;
    top: 0em;
  }
}