.button {
  position: relative;
  padding: .65em 1.2em .65em 2.5em;
  border-radius: 4px;
  color: $white;
  background-color: $ocean-blue;
  font-weight: $base-font-regular;
  text-align: center;
  border: none;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  overflow: hidden;
  input {
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0;
  }

  &:visited {
    color: $white;
  }

  &:disabled{
    opacity: 0.6;
    pointer-events: none;
  }

  &:hover{
    background-color: $midnight-blue;
  }

  &--oauth{
    padding: 1em;
  }

  &--small{
    font-size: .86em;
    padding: .4em 1.5em .3em 2.5em;
  }
  
  &--large{
    padding: .7em 2em;
    font-weight: $base-font-bold;
    font-size: 1em;
  }

  &--white, &--white:visited {
    color: $midnight-blue;
    background-color: $white;
  
    &:hover{
      color: $white;
      background-color: $midnight-blue;
    }
  }

  &--green, &--green:visited {
    background-color: $light-green;
  
    &:hover {
      background-color: darken($light-green, 10%);
      color: #fff;
      border: 0;
    }
  }

  &--primary, &--primary{
    &:hover, &:visited {
      background-color: darken($light-green, 10%);
      color: $white;
      border: 0;
    }
  }
  
  &--secondary, &--secondary{
    &:hover, &:visited {
      background-color: $dolphin-grey;
    }
  }

  &--top{
    background-color: $light-green;
    color: $white;
    border: none;
    border-radius: 4px;
    padding: .65em 1.2em .65em 2.5em;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
  
    &:before{
      color: $white;
      position: absolute;
      font-family: 'FontAwesome';
      content: '\f0aa';
      font-weight: 900;
      left: 13px;
      
    } 

    &:hover{
      &:hover {
        background-color: darken($light-green, 5%);
      }
    }
  }

  &--close{
    padding: .65em 1.2em .65em 1.2em;
  }
  
  /*******ButtonGroup & Group CTA******/
    &--add {
      background-color: $light-green;
      position: relative;
      
      &:before {
        color: $white;
        position: absolute;
        font-family: 'FontAwesome';
        content: '\f067';
        font-weight: 900;
        top: 4px;
        left: 10px;
      } 
    }
  
    &--cancel {
      background-color: $dolphin-grey;
      position: relative;
      
      &:before{
        color: $white;
        position: absolute;
        font-family: 'FontAwesome';
        content: '\f057';
        font-weight: 900;
        left: 10px;
        
      } 
    }

    &--cancel:hover:before{
      color: $white;
      position: absolute;
      font-family: 'FontAwesome';
      content: '\f057';
      font-weight: 900;
      visibility: hidden;
  }
  
    &--edit {
      background-color: $light-green;
      position: relative;
    
      &:before{
        color: $white;
        position: absolute;
        font-family: 'FontAwesome';
        content: '\f044';
        font-weight: 900;
        left: 10px;
        
      } 
    }
  
    &--delete {
      background-color: $error-red;
      position: relative;
    
      &:before{
        color: $white;
        position: absolute;
        font-family: 'FontAwesome';
        content: '\f187';
        font-weight: 900;
        left: 10px;
      } 
      &:hover {
        background-color: darken($error-red, 10%);
        color: #fff;
        border: 0;
      }
    }
  
    &--remove {
      background-color: $light-green;
      position: relative;
      
      &:before{
        color: $white;
        position: absolute;
        font-family: 'FontAwesome';
        content: '\f0a0';
        font-weight: 900;
        left: 10px;
        
      } 
    }
  
    &--execute{
      background-color: $light-green;
      position: relative;
      
      &:before{
        color: $white;
        position: absolute;
        font-family: 'FontAwesome';
        content: '\f5fc';
        font-weight: 900;
        left: 10px;
        
      } 
    }
  
    &--reingest{
      background-color: $light-green;
      position: relative;
      
      &:before{
        color: $white;
        position: absolute;
        font-family: 'FontAwesome';
        content: '\f233';
        font-weight: 900;
        left: 10px;
        
      } 
    }

    &--remove, &--execute, &--reingest {
      &:hover {
        background-color: darken($light-green, 10%);
        color: #fff;
        border: 0;
      }
    }
  
    &--download{
      background-color: $light-green;
      position: relative;
    
      &:before{
        color: $white;
        position: absolute;
        font-family: 'FontAwesome';
        content: '\f0ab';
        font-weight: 900;
        left: 10px;
        
      } 
    }
  
    &--copy{
      background-color: $light-green;
      position: relative;
    
      &:before{
        color: $white;
        position: absolute;
        font-family: 'FontAwesome';
        content: '\f0c5';
        font-weight: 900;
        left: 10px;
        
      } 
    }
  
    &--confirm, &--submit{
      background-color: $light-green;
      position: relative;
    
      &:before{
        color: $white;
        position: absolute;
        font-family: 'FontAwesome';
        content: '\f0c7';
        font-weight: 900;
        left: 10px;
        
      } 
    }

    &--confirm:hover:before, &--submit:hover:before{
      color: $white;
      position: absolute;
      font-family: 'FontAwesome';
      content: '\f0c7';
      font-weight: 900;
      visibility: hidden;
    }
  
     /*******Button Animations & Transitions ******/
    &--loading {
      position: relative;
      display: inline-block;
      .spinner {
        position: absolute;
        top: 6px;
        left: 0;
        width: 100%;
      }
      color: $light-green;
    }
    
    &__animation {
      position: relative;
      display: inline-block;
      cursor: pointer;
      &:after {
        position: absolute;
        /*color: $white;*/
        font-family: 'FontAwesome';
        content: '\f061';
        font-weight: 900;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
      }
    }
    
    &__animation:hover {
      padding: .7em 3em .7em 1em;
    }
    
    &__arrow:after {
      left: 130%;
      top: .75em;
    }
    
    &__arrow:hover:after {
      left: 85%;
    }
    
    &__animation--md:hover {
      padding: .65em 3em .65em 1em;
    }
    
    &__arrow--md:hover:after {
      left: 75%;
    }
    
    &__arrow--white {
      &:after {
        position: absolute;
        color: $white;
        font-family: 'FontAwesome';
        content: '\f061';
        font-weight: 900;
      }
    }

     /******* Other States ******/
     &__bulkgranules {
      background-color: $light-green;
      position: relative;
    
      &:before{
        color: $white;
        position: absolute;
        font-family: 'FontAwesome';
        content: '\f51e';
        font-weight: 900;
        left: 10px;
        
      } 
    }

    &__bulkgranules:hover:before{
      color: $white;
      position: absolute;
      font-family: 'FontAwesome';
      content: '\f51e';
      font-weight: 900;
      visibility: hidden;
    }

    &__bulkgranules.button__arrow--md:hover:after {
      left: 85%;
    }

    &__kibana_open{
      background-color: $light-green;
      position: relative;
      margin-top: 1em;
          
      &:before{
      color: $white;
      position: absolute;
      font-family: 'FontAwesome';
      content: '\f360';
      font-weight: 900;
      left: 10px;  
      } 
    }

     &__addcollections {
      float: right;
      margin-top: 1em;
    }

    &__deletecollections {
      background-color: $light-green;
      position: relative;
    
      &:before{
        color: $white;
        position: absolute;
        font-family: 'FontAwesome';
        content: '\f187';
        font-weight: 900;
        left: 10px;
        
      } 
    }

    &__deletecollections:hover:before{
      color: $white;
      position: absolute;
      font-family: 'FontAwesome';
      content: '\f187';
      font-weight: 900;
      visibility: hidden;
    }

    &__goto {
      background-color: $light-green;
      position: relative;
    
      &:before{
        color: $white;
        position: absolute;
        font-family: 'FontAwesome';
        content: '\f0a9';
        font-weight: 900;
        left: 10px;
      } 
    }
    
      &__goto:hover:before {
        color: $white;
        position: absolute;
        font-family: 'FontAwesome';
        content: '\f0a9';
        font-weight: 900;
        visibility: hidden;
      }
    
    &--tab {
      border: none;
      background: none;
      padding-bottom: .5em;
      margin-right: 1em;
      color: $grey;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      &:hover {
        color: $dark-grey;
      }
    }

    //This is temporary until BatchAsyncCommands is refactored
    &__group {
      background-color: $ocean-blue;
      position: relative;
    
      &:before{
        color: $white;
        position: absolute;
        font-family: 'FontAwesome';
        content: '\f111';
        font-weight: 900;
        left: 10px;
        
      } 
    }
}
