.legend {
  background-color: $white;
  padding: 2em;
  width: 50%;
  border-radius: 4px;
  box-shadow: $shadow__default;

  &--title {
    font-size: 1.3em;
    font-weight: normal;
  }

  .legend-items {
    &--item {
      display: flex;
      align-items: center;
      margin: 0.5em 0;
    }
  }
}
