h1, h2, h3, h4, h5, h6 {
  color: $black;
  margin-bottom: .5em;
}

.heading--xxlarge {
  font-size: 3.2em;
  font-weight: $base-font-bold;
  color: #fff;
}

.heading--xlarge {
  font-size: 3.2em;
  font-weight: $base-font-bold;
  color: #fff;
}

.heading--large {
  font-size: 2.3em;
  font-weight: $base-font-regular;
}

.heading--medium {
  font-size: 1.58em;
  font-weight: $base-font-regular;
}

.heading--small {
  font-size: 1.28em;
  font-weight: $base-font-bold;
}

.heading--shared-content {
  display: inline-block;
}

.heading--shared-content--right {
  display: inline-block;
  margin-right: .6em;
}

.heading__wrapper--border {
  border-bottom: 1px solid $lightest-grey;
  padding-bottom: .3em;
  margin-bottom: 2.5em;
  h2, h3, h4 {
    margin-bottom: .2em;
  }
}

.with-description {
  margin-bottom: .1em;
}

.num--title {
  font-weight: $base-font-light;
  font-size: 90%;
  color: $grey;
  margin-left: .2em;
  display: inline-block;
}
