/* Settings for Mixins
   ========================================================================== */
@import './utils/variables/variables';

/* Reboot
   ========================================================================== */

   @import "normalize";
   @import "reset";

/**
 * Using Kenneth Ormandy's OpenType features—ligatures, kerning, and
 * more—to Normalize.css:
 * https://github.com/kennethormandy/normalize-opentype.css
 */

 @import "normalize-opentype";

/* Application Styles
   ========================================================================== */

@import 'base';
@import '../css/modules/modals';
@import '../css/modules/jsonwindow';
@import 'typography';
@import '../css/buttons';
@import '../js/components/Form/form';
@import '../js/components/DropDown/DropDown.scss';
@import 'lists';
@import '../css/modules/table';
@import '../js/components/LoadingIndicator/loading-indicator';
@import "../js/components/Modal/modal";
@import 'pulse';
@import "../js/components/Datepicker/Datepicker.scss";

/**********************************
* Bootstrap
***********************************/

@import 'vendor/bootstrap/bootstrap';


/**********************************
* Font Awesome
***********************************/

@import 'vendor/fontawesome/fontawesome';


/**********************************
* Date Time Picker
***********************************/

@import 'vendor/datetimepicker/datetimepicker';