.form__element__clickable {
  cursor: pointer;
}

input, textarea, select, .form__element__select {
  border: 1px solid lighten($lightest-grey, 4%);
  box-shadow: $shadow__default;
  background-color: $white;
  border-radius: .5em;
  padding: .3em 2em .4em .7em;
  font-size: .86em;
}
input[type=submit] {
  font-size: 1em;
}

.input--lg {
  padding: .6em 2em .7em .7em;
}

input[type="checkbox"], input[type="radio"] {
  font-size: 1em;
}

label {
  display: block;
  font-weight: $base-font-semibold;
  margin-bottom: .3em;
  font-size: .86em;
}

.form__multistep {
  input[type='password'], input[type='text'], textarea {
    margin-bottom: 2em;
    width: 95.5%;
    padding: 0.3em;
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  &:hover{
    box-shadow: $shadow__hover;
  }
}

//For IE
select::-ms-expand {
  display: none;
}

select option{
  background-color: rgba(255, 255, 255, 0.08);
  box-shadow: inset 2px 2px rgba(255, 255, 255, 0.08);
  &:hover{
    background-color: $ocean-blue;
    box-shadow: inset 2px 2px $ocean-blue;
    color: $white;
}
}


.filters {
  margin: 1.5em 0 2em;
  @extend .clearfix;
  label {
    font-size: .86em;
  }
}

.filter__item {
  display: inline-block;
  vertical-align: bottom;
  position: relative;
}

.filter__icon{
  &:after {
    color: $ocean-blue;
    position: absolute;
    font-family: 'FontAwesome';
    content: '\f0d7';
    font-weight: 900;
    width: 14px;
    height: 14px;
    background-size: 14px 14px;
    display: block;
    right: .8em;
    top: .5em;
  }
}

.filters.filters__wlabels ul{
  display: flex;
  align-items: baseline;
}

.filters.filters__wlabels .run_bulk{
  margin-left: auto;
}

.filter-action-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.filter-actions {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;

  .form--controls {
    flex-grow: 1;
  }
}

.form--controls {
  margin-bottom: 2em;
  display: flex;
}

.form--controls__group {
  display: inline-flex;
  flex-direction: row;
}

.form--controls__group li {
  display: flex;
}

.dropdown__collection .form__dropdown label {
  display: inline-block;
  text-align: left;
  padding-right: .75em;
}

.search__wrapper {
  position: relative;
  .form__dropdown label {
    position: absolute;
    top: -18px;
  }
  .form__error {
    display: none;
  }
  .dropdown__wrapper select {
    min-width: 6em;
  }
}

.search__icon {
  &:after {
    position: absolute;
    font-family: 'FontAwesome';
    content: '\f002';
    font-weight: 900;
    right: .8em;
    top: .34em;
  }
}

.search__loading {
  .spinner {
    position: absolute;
    right: 10px;
    top: 6px;
    > div {
      width: 8px;
      height: 8px;
      background-color: $black;
    }
  }
}

.search__results {
  background-color: $white;
  border: 1px solid $lightest-grey;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
  border-radius: .2em;
  -webkit-border-radius: .2em;
  -moz-border-radius: .2em;
  position: absolute;
  top: 36px;
  z-index: 100;
  max-height: 18em;
  overflow-y: scroll;

  a, a:visited {
    padding: .7em 1.8em .7em 1.2em;
    color: $black;
    border-bottom: 1px solid $lightest-grey;
    display: block;
    &:hover {
      background-color: darken($background-white, 2%);
    }
  }
}

.form-group__element {
  margin-right: 1em;
}

.form-group__element--small {
  font-size: .86em;
}

.form__element__select {
  font-weight: $base-font-regular;
  padding: .3em .9em;
  input {
    margin-right: .8em;
  }
}

.form__element__updateToggle {
  float: right;
  margin-top: -6px;
  position: relative;
  .form-group__updating, .metadata__updated {
    display: block;
  }
  .metadata__updated {
    padding-top: 18px;
    padding-right: 4px;
    &:hover {
      text-decoration: underline;
    }
  }
  .form-group__updating {
    position: absolute;
    left: 14px;
    font-weight: $base-font-semibold;
    font-size: .86em;
    min-width: 120px;
  }
}

.form__element__refresh {
  position: absolute;
  left: -.3em;
  top: -.2em;
  display: inline-block;
  &:before {
    font-family: 'FontAwesome';
    content: '\f021';
    color: $ocean-blue;
    font-weight: 900;
    cursor: pointer;
    transition: transform 0.2s;
  }
  &:hover {
    transform: rotate(0.1turn);
  }
}

.form__element__updateToggle-noHeader {
  margin-left: auto;
}

.form-group__element--right {
  float: right;
  margin-left: 1em;
  margin-right: 0;
}

.form-group__element--right--sm {
  margin-top: 0;
}

.form-group__element--left {
  margin-right: 1em;
  margin-top: 2em;
  margin-left: 1em;
}

.form__item {
  margin-bottom: 1.5em;
}

.subform__item,
.form__addone--item {
  margin: 0.5em 0;
}

.form__addone--input {
  width: 50%;
  margin-right: 1em;
}

.form__addone--button {
  padding: 0.06em 1.8em 0.07em;
  font-size: 1.4em;
  min-width: 4.2em;
}

.subform__item {
  transition: all 0.2s ease 0s;
  width: 87.5%;
}

.subform__item--expanded {
  background-color: lighten($lightest-grey, 7%);
  border: 1px solid $lightest-grey;
  padding: 1.5em 2em 2.5em;
  border-radius: .4em;
  -webkit-border-radius: .4em;
  -moz-border-radius: .4em;
  .form__item {
    margin-bottom: 1.8em;
  }
  .subform__name {
    margin-bottom: 2em;
  }
  .subform__button {
    display: none;
  }
}

.subform__name {
  display: inline-block;
}

.subform__button {
  margin-left: 1em;
}

.subform__fields {
  margin-top: 1em;
}

.subform__item--expanded .subform__remove {
  color: $error-red;
  border-bottom: 2px solid $error-red;
  &:hover {
    color: $grey;
    border-bottom: 2px solid $grey;
  }
}

.page__content--shortened--centered {
  .page__section--fullpage-form {
    .form__item {
      input[type=text] {
        width: 90%;
      }
      .subform__item--expanded {
        width: 87%;
      }
      .form__addone--item {
        input {
          width: 75%;
        }
      }
    }
  }
}

.page__section--fullpage-form--internal {
  .form__item {
    margin-bottom: 3em;
    input[type=text] {
      width: 70%;
    }
    .subform__item--expanded {
      width: 70%;
      margin-top: 1.5em;
      input[type=text] {
        width: 92%;
      }
      .form-group__element--left {
        margin-top: 0;
      }
    }
    .dropdown__wrapper {
      width: 50%;
      margin-top: .2em;
      select {
        width: 100%;
      }
    }
    .form__addone--item {
      margin-bottom: 1em;
      input {
        width: 59%;
        margin-right: 1.5em;
        float: left;
      }
    }
  }
}

.label__description {
  display: block;
  font-size: 1em;
  margin: .2em 0 .6em;
}


/*log in*/
.form__login {
  margin-top: 1.5em;
  .form__text {
    margin-bottom: 1em;
    &:last-of-type {
      margin-bottom: 2.5em;
    }
    input {
      width: 80%;
    }
  }
}

.form__error {
  font-size: 1em;
  display: block;
  margin-bottom: 0.8em;
  color: $error-red;
}

.error__report {
  background-color: $white;
  border-radius: 0.5em;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, .08);
  padding: 1.1em 1.4em;
  text-align: center;
  position: relative;
  margin: 2em 0em;
  color: $error-text-red;
  font-size: .86em;
  border: 1px solid $error-red;
  p {
    margin-bottom: 0;
    color: $error-text-red;
  }
}

.page__section__header-wrapper {
  .error__report {
    margin-top: 3em;
    margin-bottom: 0;
  }
}

.autocomplete__menu {
  position: fixed;
  overflow: auto;
  max-height: 50%;
  z-index: 99;
  background-color: $white;
  border: 1px solid $lightest-grey;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
  border-radius: .2em;
}

.autocomplete__select {
  cursor: pointer;
  padding: .3em .9em;
  font-size: .86em;
}

.autocomplete__select--highlighted {
  background-color: $ocean-blue;
  color:$white;
}

.subform__item--last .subform__button {
  position: relative;
  padding: .65em 1.2em .65em 2.5em;
  border-radius: 4px;
  color: $white;
  background-color: $ocean-blue;
  font-weight: $base-font-regular;
  font-size: .86em;
  text-align: center;
  border: none;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  overflow: hidden;
  input {
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0;
  }
  :hover {
    background-color: darken($light-green, 5%);
    color: $white;
    border: 0;
  }
}

.subform__item--last {
  .subform__button {
    display: inline-block;
    margin-top: 1.5em;
    margin-left: 0;
  }
  .subform__name {
    display: none;
  }
}