/* modal */
.modal__cover {
  background-color: #999;
  opacity: 0.85;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0.85;
  z-index: 999;

  &:after {
    -moz-box-shadow: inset 0 0 10em #000;
    -webkit-box-shadow: inset 0 0 10em #000;
    box-shadow: inset 0 0 10em #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    content: "";
  }
}

.modal__container {
  left: 0;
  margin-top: 10%;
  overflow: visible;
  position: fixed;
  transition: top 0.2s ease-in-out;
  text-align: center;
  top: 100%;
  width: 100%;
  z-index: 1000;
}

.modal__container--onscreen {
  top: 0;
}

.modal {
  border-radius: 5px;
  display: inline-block;
  background-color: $background-white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
  padding: 2em 2.3em 3em;
  position: relative;
  width: 300px;
  text-align: left;
}


.modal__formcenter {
  text-align: center;
}

.modal__loading {
  bottom: 12px;
  left: 0;
  height: 6px;
  position: absolute;
  width: 100%;
}

.modal__loading--inner {
  position: relative;
}

.modal__loading--progress {
  left: 0;
  height: 6px;
  position: absolute;
  transition: width 0.2s linear;
  background-color: $royal-purple;
}

.modal__loading--progress--success { background-color: $light-green; }
.modal__loading--progress--error { background-color: $error-red; }

.modal__title--success { color: $light-green; }
.modal__title--error { color: $error-red; }
