.pre-style {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.table {
  width: 100%;
  line-height: 1.6em;
  overflow-x: scroll;
  border-radius: 8px 8px 0px 0px;

  .content-fit {
    width: fit-content!important;
  }

  .Collapsible {
    max-width: 500px;
  }

  .thead, .tbody {
    width: fit-content;
    min-width: 100%;
  }

  .thead {
    background-color: $ocean-blue;
    .th {
      color: $white;
      font-weight: $base-font-semibold;
      padding: 1em 2em;
      font-size: .86em;

      &.no-resize {
        border-right: 2px solid $lightest-grey;
        padding: 1em 1.5em;
      }
    }
  }

  .tbody {
    .tr {
      border-bottom: 1px solid $lightest-grey;
      .td {
        font-size: .86em;
        padding: 1em 2em;
        vertical-align: middle;
        overflow: hidden;
        &:hover {
          overflow: auto;
        }

        /*
         * From https://stackoverflow.com/questions/7492062/css-overflow-scroll-always-show-vertical-scroll-bar/10100209#10100209
         * The horizontal scrollbar does not always show, depending on the user's OS settings.
         * This forces a bar to render.
        */
        &::-webkit-scrollbar {
          -webkit-appearance: none;
          height: 8px;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 4px;
          background-color: rgba(0, 0, 0, .5);
          box-shadow: 0 0 1px rgba(255, 255, 255, .5);
        }
      }
      .table__main-asset {
        font-weight: $base-font-semibold;
      }
      &:nth-child(odd) {
        background-color: darken($background-white, 2%);
      }
    }
  }
}

.table__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;

  div {
    flex: 0 32%;
    align-items: center;
  }

  .list__filters--item {
    margin: 0 .3em;
  }

  input {
    width: 2em;
    text-align: center;
    margin: 0;
    padding: .4em .7em;
  }

  & + .table--wrapper .table {
    border-radius: 0;
  }
}

.dropdown-wrapper {
  text-align: right;
}

.list__filters {
  margin: 1.5em 0 2em;
  @extend .clearfix;
  label {
    font-size: .86em;
  }

  &--flex {
    display: flex;
  }

  &--item {
    display: inline-block;
    vertical-align: bottom;
    position: relative;

    .dropdown {
      &--small {
        width: 15em;
      }
      &--medium {
        width: 25em;
      }
      &--large {
        width: 35em;
      }
    }
  }
}

.table__filters {
  &--wrapper {
    display: flex;
    flex-direction: column;
    background: $white;
    padding: 2em;
    margin: 1em 0;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
  }

  &--filter {
    display: flex;
    align-items: center;

    label {
      margin: 0 .5em;
    }
  }
}

.group-action--wrapper {
  background-color: $white;
  padding: 1em 1em .4em 1em;
  border: 1px solid $border-grey;
  box-shadow: $shadow__default;
  width: 100%;

  h {
    font-size: .86em;
  }

  p {
    font-size: .86em;
    padding-bottom: 1.25em;
  }
}

.list-action-wrapper {
  padding-top: 1.5em;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;

  &.no-actions {
    align-items: center;

    .filters {
      margin: 1em 0;
    }
  }
}

.list-actions {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;

  .form--controls {
    flex-grow: 1;
  }
}

.list-view {
  position: relative;
  margin-top: 10px;
  /*border-bottom: 1px solid #E2DFDF;*/
  padding-bottom: 10px;
  width: 100%;
}

.list__wrapper{
  border: 1px solid $border-grey;
  box-shadow: $shadow__default;
  border-radius: 10px;
}

.list--errors {
  tbody tr td:first-of-type,
  .tbody .tr .td:first-of-type {
    max-width: 300px;
  }
}

.resizer {
  display: inline-block;
  background-color: $lightest-grey;
  background-clip: content-box;
  padding: 0 10px;
  width: 2px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(50%);
  z-index: 1;
  touch-action:none;

  &.isResizing {
    background-color: $grey;
  }
}

.error__report, .report__table {
  .Collapsible {
    display: flex;
    flex-direction: column;

    .Collapsible__trigger {
      order: 1;
    }

    .Collapsible__contentInner {
      max-width: 230px;
    }
  }
}

.report__table {
  .Collapsible__trigger {
    align-self: flex-start;
    cursor: pointer;
    margin: 1em 0;
  }
}

// Overview Number Card Group //

.overview-num__wrapper {
  @extend .clearfix;
  margin-top: 1.5em;
  .num--large {
    font-size: 1.85em;
  }
  .overview-num, .overview-num:visited {
    width: 122px;
    height: 85px;
    margin: .8em 1.2em .5em 0;
    border-bottom: 0;
    position: relative;
    &:hover {
      margin: .1em 1.2em 1.2em 0;
      border-bottom: 0;
    }
  }

  ul li {
    display: inline-block;

    .num-status {
      padding: 5px 0px 5px 0px;
      color: $white;
      width: 100%;
      display: inline-block;
      text-align: center;
      position: absolute;
      top: 0px;
      left: 0px;

      &--completed {
        background-color: $light-green;
      }

      &--failed {
        background-color: $error-red;
      }

      &--running {
        background-color: $orange;
      }
    }
  }

}

.overview-num, .overview-num:visited {
  background-color: #fff;
  padding: 1.5em 1em .5em;
  display: inline-block;
  border-radius: .5em;
  border: 1px solid lighten($lightest-grey, 4%);
  box-shadow: $shadow__default;
  text-align: center;
  font-size: .86em;
  width: 133px;
  height: 94px;
  margin: .8em 1.5em .8em 0;
  /*float: left;*/
  color: $lighter-grey;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
  clear: right;
  &:hover {
    border: 1px solid lighten($lightest-grey, 4%);
    margin: .1em 1.5em 1.5em 0;
    box-shadow: $shadow__hover;
  }
}

.timeline--processing--overall {
  background-color: $white;
  padding: 1.5em 1em .5em;
  display: inline-block;
  border-radius: .5em;
  border: 1px solid $border-grey;
  box-shadow: $shadow__default;
  text-align: center;
  font-size: .86em;
  width: 615px;
  height: 70px;
  margin: .8em 1.5em .8em 0;
  /*float: left;*/
  color: #8C8C8C;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
  clear: right;
  display: flex;
  flex-direction: row;
  /*font-size: .86em;
  color: $lighter-grey;
  margin: 3em 0;*/
  li {
    display: inline-block;
    position: relative;
    /*margin-right: 2em;
    padding-right: 10%;*/
    flex: 1;
    /*&:after {
      content: '';
      background-size: 15px 25px;
      background-repeat: no-repeat;
      width: 15px;
      height: 25px;
      fill: $light-green;
      display: block;
      top: 1em;
      right: 15%;
      position: absolute;
    }*/
    &:last-child {
      margin-right: 0;
      &:after {
        background-image: none;
      }
    }
  }
}

/*.timeline--processing--failed {
  color: $error-text-red;
}*/

.num--large {
  display: block;
  font-size: 2.4em;
  font-weight: $base-font-semibold;
  color: $midnight-blue;

  &--color{
    position: relative;
    top: 30px;
    text-align: center;
  }

  &--yellow{
    color: $orange;
  }

  &--red{
    color: $error-red;
  }

  &--blue{
    color: $midnight-blue;
  }
}

.num--medium {
  display: block;
  font-size: 1.7em;
  font-weight: $base-font-semibold;
  color: $midnight-blue;

  &--yellow{
    color: $orange;
  }

  &--red{
    color: $error-red;
  }
}

.form--controls {
  @extend .clearfix;
}

.table__main-asset {
  a, a:visited {
    color: $black;
    border-bottom: 1px solid $lightest-grey;
    &:hover {
      border-bottom: 1px solid $ocean-blue;
      color: $ocean-blue;
    }
  }
}

// Table Sorting Feature //

.table__sort {
  cursor: pointer;
  position: relative;
  padding-right: 10px;
  &:after {
    color: $white;
    position: absolute;
    font-family: 'FontAwesome';
    content: '\f0dc';
    font-weight: 900;
    width: 10px;
    height: 13px;
    background-size: 10px 13px;
    display: inline-block;
    margin-left: .5em;
    margin-top: 0em;
  }
}

.table__sort--asc, .table__sort--desc {
  &:after {
    content: ' ';
    width: 8px;
    height: 8px;
    background-size: 8px 8px;
    display: inline-block;
    margin-left: .5em;
  }
}

.table__sort--desc {
  &:after {
    color: $white;
    position: absolute;
    font-family: 'FontAwesome';
    content: '\f0dd';
    font-weight: 900;
    top: 10px;
  }
}
.table__sort--asc {
  &:after {
    color: $white;
    position: absolute;
    font-family: 'FontAwesome';
    content: '\f0de';
    font-weight: 900;
    top: 15px;
  }
}

// Table Progress Feature //

.table__progress {
  min-width: 160px;
  padding-right: 60px;
}

.table__progress--name {
  font-weight: $base-font-regular;
}

.table__progress--outer {
  position: relative;
  height: 6px;
}

.table__progress--bar {
  display: inline-block;
  background-color: $ocean-blue;
  position: absolute;
  left: 0;
  height: 6px;
}

.table__progress--bar--failed {
  background-color: $error-red;
  border-left: 1px solid #fefefe;
}

.table__progress--text {
  font-size: 0.8em;
  position: absolute;
  margin-left: 6px;
  top: -4px;
}

.table__error {
  color: $error-red;
}

.pdr__progress {
  margin-top: 1em;
  .table__progress--bar,
  .table__progress--outer {
    height: 10px;
  }
  .table__progress--text {
    top: -3px;
  }
  .table__progress--outer {
    background-color: $lightest-grey;
  }
}

// Table - Granule Status //

.table__main-asset {
  .granule__status--running, .granule__status--running:visited,
  .granule__status--completed, .granule__status--completed:visited,
  .granule__status--failed, .granule__status--failed:visited {
    color: $ocean-blue;
  }
}

/**********************************
  Table Form Options
***********************************/
.form__options{
  background-color: $white;
  height: 45px;
  padding: 21px 35px 0px 35px;
  display: flex;
  flex-direction: row;
  border-radius: 10px 10px 0 0;

}

.form__options li{
  display: inline-block;
  font-weight: 500;
  font-size: $base-font-size;
  flex: 1;
}

.options input[type=text] {
  width: 25px;
  box-sizing: border-box;
  margin-left: 5px;
  margin-right: 5px;
}

.amount {
  text-align: right;
}

.pager .pagination {
  margin: 0;
}
.data-record{
  font-weight: 700;
}
